@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000; /* Set the background color of the entire application to black */
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}